@model Semillitas.Web.Models.Event

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <div class="container">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h3 class="separator-left">@Html.DisplayFor(model => model.Description)</h3>
        <p class="date">Fecha: @Html.DisplayFor(model => model.Date)</p>
    </div>
</div>

<div class="row">

    <div class="col-sm-3 simple-item simple-item-workshop">

        <div class="content">
            <div class="image">
                <img src="~/Content/Images/Pin.png" alt="Location" class="img-responsive" />
            </div>
            <div class="description">
                <span class="title">@Html.DisplayFor(model => model.Location)</span>
                <p>@Html.DisplayFor(model => model.LocationNotes)</p>
            </div>
        </div>

    </div>

    <div class="col-sm-3 simple-item simple-item-workshop">

        <div class="content">
            <div class="image">
                <img src="~/Content/Images/Clock.png" alt="Date" class="img-responsive" />
            </div>
            <div class="description">
                <span class="title">@Html.DisplayFor(model => model.Timetable)</span>
                <p>@Html.DisplayFor(model => model.TimetableNotes)</p>
            </div>
        </div>

    </div>

    <div class="col-sm-3 simple-item simple-item-workshop">

        <div class="content">
            <div class="image">
                <img src="~/Content/Images/Phone.png" alt="Phone" class="img-responsive" />
            </div>
            <div class="description">
                <span class="title">@Html.DisplayFor(model => model.Contact)</span>
                <p>@Html.DisplayFor(model => model.ContactNotes)</p>
            </div>
        </div>

    </div>

    <div class="col-sm-3 simple-item simple-item-workshop">

        <div class="content">
            <div class="image">
                <img src="~/Content/Images/Download.png" alt="Download" class="img-responsive" />
            </div>
            <div class="description">
                <span class="title">Documento PDF</span>
                <p>@Html.DisplayFor(model => model.PdfNotes)</p>
            </div>
        </div>

    </div>
</div>

<div class="row margin-top-25 margin-bottom-25">

    <div class="col-sm-6">

        <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

    </div>

    <div class="col-sm-6">
        <img src="@Url.Content("~/" + Model.Image)" alt="Evento" class="img-responsive" />
    </div>
</div>
