@using Semillitas.Web.Models;

@model Semillitas.Web.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Inicio";
}

@section styles {
    <link rel="stylesheet" href="~/Content/ekko-lightbox.min.css" />
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>*@
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/desarrolloafectivo.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <h1 class="hidden-xs"><span class="highlight">Semillitas</span></h1>
                <p class="lead hidden-xs"><span class="highlight">La Ludoteca donde aprendes jugando</span></p>
                <p class="lead visible-xs"><span class="highlight highlight-slim">La Ludoteca donde aprendes jugando</span></p>
                @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
            </div>
        </div>

        @*<div class="item">
                <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="Chicago">
            </div>

            <div class="item">
                <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="New York">
            </div>*@
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

@*<div class="row quote-item">
    <p>Semillitas, la ludoteca donde aprendes jugando </p>
    <p class="separator-fixed border-color-1-bold"><small>Espacio para mamas y ninos de 0 a 14 anos</small></p>
    <h6>Veronica Orellana (CEO)</h6>
</div>*@

<div class="row content-2">
    <h1 class="text-center separator-middle">De Interés</h1>
    <div class="col-sm-6 col-md-3 item-link-image">
        <a href="@Url.Action("Index", "Event")" class="">
            <img src="~/Content/Images/birthday.jpg" alt="..." class="img-responsive">
            <div class="caption bg-color-1">
                Fiestas y Eventos
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 item-link-image">
        <a href="@Url.Action("Workshops", "Home")" class="">
            <img src="~/Content/Images/workshop.jpg" alt="..." class="img-responsive">
            <div class="caption bg-color-2">
                Talleres
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 item-link-image">
        <a href="@Url.Action("Gallery", "Home")" class="">
            <img src="~/Content/Images/teacher.jpg" alt="..." class="img-responsive">
            <div class="caption bg-color-3">
                Instalaciones
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 item-link-image">
        <a href="@Url.Action("Details", "Blog", new { id = 1 })" class="">
            <img src="~/Content/Images/siblings.jpg" alt="..." class="img-responsive">
            <div class="caption bg-color-4">
                Descuentos para hermanos
            </div>
        </a>
    </div>
</div>

<div class="row content-1">
    <h1 class="text-center">Planes y Servicios</h1>
    <p class="separator-middle">Regístrate ya</p>
    <p>
        <a href="@Url.Action("Plans", "Home")" class="btn btn-primary">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Mas información
        </a>
    </p>
</div>


@*<div class="row content-1">
    <h2 class="text-center">Planes y Servicios</h2>
    <div class="col-md-4">
        <div class="thumbnail thumbnail-1">
            <img src="~/Content/Images/kid-balls.png" alt="...">
            <div class="caption">
                <h3 class="text-center">Membresia Anual</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p class="text-center">@Html.ActionLink("Mas informacion", "Plans", "Home", htmlAttributes: new { @class = "btn btn-default" })</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail thumbnail-1">
            <img src="~/Content/Images/kid-bucket.png" alt="...">
            <div class="caption">
                <h3 class="text-center">Plan 1 Mes</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p class="text-center">@Html.ActionLink("Mas informacion", "Plans", "Home", htmlAttributes: new { @class = "btn btn-default" } )</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail thumbnail-1">
            <img src="~/Content/Images/kids-circle.png" alt="...">
            <div class="caption">
                <h3 class="text-center">Pase Diario</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p class="text-center">@Html.ActionLink("Mas informacion", "Plans", "Home", htmlAttributes: new { @class = "btn btn-default" })</p>

            </div>
        </div>
    </div>
</div>*@

<div class="row content-3">
    <h1 class="text-center separator-middle font-color-3">Noticias y Novedades</h1>

    @{
        int i = 0;
        var BlogEntries = (List<Blog>)ViewBag.BlogEntries;
    }

    @foreach (var item in BlogEntries)
    {

        <div class="col-xs-12 col-sm-6">
            <div class="item-content-image">
                <div class="image">
                    <img class="img-responsive" src="@Url.Content("~/" + item.Image)" alt="...">
                </div>
                <div class="content">
                    <h4 class="separator-left">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <a href="@Url.Action("Details", "Blog", new { id = item.ID })" class="bg-color-@(i+1)"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
        i = ((i + 1) % 6);
    }


    <p class="text-center"><a href="@Url.Action("Index", "Blog")" class="btn btn-primary" role="button">Más Noticias</a></p>

</div>


<button type="button" id="btn-modal" class="hidden" data-toggle="modal" data-target="#myModal"></button>

<!-- Modal -->
@{
    if (ViewBag.ShowModal)
    {
        <div class="modal fade modal-image-form" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row bg-color-2">
                            <button type="button" id="modal_close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="col-xs-12 col-sm-6 item-image hidden-xs">
                                <img src="~/Content/Images/workshop.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-12 col-sm-6 item-content">
                                <h1 class="separator-left">¿Tienes algún interés en recibir actualizaciones y novedades?</h1>
                                <p>Ingrese su correo electrónico y recibirá noticias, promociones y eventos</p>
                                @using (Ajax.BeginForm("Create", "Marketing", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "modal_result",
                                    OnBegin = "closeModal"
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    <hr />
                                    <input type="submit" id="modal_send" value="Enviar" class="btn btn-primary" />
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <div id="modal_result"></div>
                                    <br />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
}

@{
    if (!ViewBag.CookiesAccepted)
    {
        <div class="alert alert-warning alert-fixed alert-dismissible fade in" role="alert">
            <button id="alert-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Nuestro sitio Web utiliza cookies para ofrecerle un mejor servicio. Al continuar navegando en nuestra p&aacute;gina usted est&aacute; aceptando el <a href="#">uso de cookies</a></p>
        </div>
    }
}


@section scripts {

@* Script necessary for Ajax.BeginForm *@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <script>

        // Function to close the modal (needs to be called)
        closeModal = function () {
            $('#modal_close').click();
        }

        $(document).ready(function () {

            // Shows the modal
            $("#btn-modal").click();    

            // Handler when user closes the modal
            $("#modal_close, #modal_send").click(
                function () {
                    $.ajax({
                        type: "POST",
                        url: "/Cookies/HideMarketing",
                        contentType: "application/json; charset=utf-8",
                        data: '',
                        dataType: "html",
                        success: function (result, status, xhr) {
                            // Cookie created
                        },
                        error: function (xhr, status, error) {
                            // Cookie not created
                        }
                    })
                }
            );

            // Handler when user closes the cookies alert
            $("#alert-close").click(
                function () {
                    $.ajax({  
                        type: "POST",  
                        url: "/Cookies/Accept",  
                        contentType: "application/json; charset=utf-8",  
                        data: '',  
                        dataType: "html",  
                        success: function (result, status, xhr) {
                            // Cookie created
                        },  
                        error: function (xhr, status, error) {  
                            // Cookie not created
                        }  
                    })
                }
            );
            
        });
</script> 
}