@{
    ViewBag.Title = "Planes y Servicios";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_planes.jpg")')">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3 class="separator-left">Escoge el programa que más se adapte a ti</h3>
    </div>
</div>

@*<div class="row">

    <div class="col-sm-4 inline-item bg-color-1">
        <p class="title"><span class="num font-color-1-bold">01.</span>Escoge la duracion</p>
        <p>Ut efficitur odio sapien. Duis elit ex, congue fermentum gravida in, dignissim ac enim. Maecenas eu magna porttitor, consectetur metus ac, hendrerit mi. </p>
    </div>
    <div class="col-sm-4 inline-item bg-color-2">
        <p class="title"><span class="num font-color-2-bold">02.</span>Choose duration</p>
        <p>Nulla a dolor eget nulla hendrerit maximus non vitae nibh. Phasellus egestas varius molestie. Praesent tempor diam nibh, a consectetur turpis gravida quis. Donec pellentesque nisl nibh, ut pharetra purus rutrum non. </p>
    </div>
    <div class="col-sm-4 inline-item bg-color-3">
        <p class="title"><span class="num font-color-3-bold">03.</span>Ask for quotation</p>
        <p>Nullam egestas, ipsum a dignissim imperdiet, orci lorem feugiat nulla, eu cursus ex quam at odio. </p>
    </div>
    
</div>*@

@*<div class="row">

    <h2>Main Packages <small>Choose the best package for your child</small></h2>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-4">
                <div class="content">
                    <p>&euro; 90.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Anual</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-5">
                <div class="content">
                    <p>&euro; 123.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Mensual</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-6">
                <div class="content">
                    <p>&euro; 10.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Diario</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

</div>*@

<div class="row">

    <div class="item-simple-title">
        <h2 class="font-color-3">Nuestras actividades</h2>
        <p>Todos nuestros servicios están pensados para ti y tus hij@s</p>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/gym.png" alt="Date" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Baby Gym</span>
                <p>A partir de los 4 meses hasta los 2 anos</p>
                <a href="@Url.Action("Workshops")#gym"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/massage.png" alt="Date" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Masajes infantiles</span>
                <p>Para ninos de 4 meses a un ano y medio</p>
                <a href="@Url.Action("Workshops")#masajes"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/art.png" alt="Location" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Taller de Art &Aacute; Craft</span>
                <p>A partir de los dos anos</p>
                <a href="@Url.Action("Workshops")#art"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/nursing.png" alt="Download" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Lactancia para primerizas</span>
                <p>Comadrona disponible</p>
                <a href="@Url.Action("Workshops")#lactancia"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/zumba.png" alt="Phone" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Clases de Zumba</span>
                <p>A partir de los 6 anos, Zumba con padres</p>
                <a href="@Url.Action("Workshops")#zumba"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/yoga.png" alt="Location" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Yoga</span>
                <p>Prenatal, postnatal y yoga con ninos y padres</p>
                <a href="@Url.Action("Workshops")#yoga"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/homework.png" alt="Phone" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Tareas dirigidas</span>
                <p>A partir de los 6 anos. Lunes a viernes 5-7pm</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/indoor.png" alt="Indoor" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Patio</span>
                <p>Patio de juegos internos para todas las edades</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/events.png" alt="Events" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Fiestas</span>
                <p>Alquiler del local para fiestas temáticas</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/language.png" alt="Languages" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Multi-lenguaje</span>
                <p>Las actividades se impartirán en tres idiomas: Catalán, Castellano e Inglés</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/library.png" alt="Library" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Biblioteca</span>
                <p>Sala de biblioteca para todas las edades</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/videogame.png" alt="Download" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Salas de juegos</span>
                <p>Salon de video consolas, cine, sata de futbolines, mesa de aire de hockey, mesas de pool, sala de Lego</p>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="row" style="margin-top:25px; margin-bottom: 50px;">

    <div class="item-simple-title">
        <h2 class="font-color-4">Paquetes principales </h2>
        <p>Nuestros planes de afiliación están pensados para cualquier necesidad</p>
    </div>    

    <div class="col-sm-6 col-md-4 column-item">
        <div class="content">
            <div class="title">
                1 día
            </div>
            <div class="description bg-color-4">
                &euro; 25.00
                <span class="small">Unico pago</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/No-50.png" alt="No" class="icon" />Horario definido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;12" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a hermanos</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 column-item">
        <div class="content">
            <div class="title">
                Cupón 10 pases (1 mes)
            </div>
            <div class="description bg-color-5">
                &euro; 200.00
                <span class="small">Unico pago</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/No-50.png" alt="No" class="icon" />Horario definido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga 
                    <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;12" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a hermanos</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 column-item">
        <div class="content">
            <div class="title">
                Taller After Schoolers
            </div>
            <div class="description bg-color-6">
                &euro; 350.00
                <span class="small">Pago Mensual</span>
                <span class="separator-fixed"></span>
                <span class="small">+ &euro; 200 Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario definido<img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="2pm a 8pm" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;12" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a hermanos</p>
            </div>
        </div>
    </div>

</div>

@section scripts {

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

}