@{
    ViewBag.Title = "Planes y Servicios";
    ViewBag.MetaTitle = "Nuestros Planes y Servicios - Semillitas, la Ludoteca donde aprendes jugando";
    ViewBag.MetaDescription = "Escoge el programa que más se adapte a ti. Todos nuestros servicios están pensados para ti y tus hij@s";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_planes.jpg")')">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3 class="separator-left">Escoge el programa que más se adapte a ti</h3>
    </div>
</div>

@*<div class="row">

    <div class="col-sm-4 inline-item bg-color-1">
        <p class="title"><span class="num font-color-1-bold">01.</span>Escoge la duracion</p>
        <p>Ut efficitur odio sapien. Duis elit ex, congue fermentum gravida in, dignissim ac enim. Maecenas eu magna porttitor, consectetur metus ac, hendrerit mi. </p>
    </div>
    <div class="col-sm-4 inline-item bg-color-2">
        <p class="title"><span class="num font-color-2-bold">02.</span>Choose duration</p>
        <p>Nulla a dolor eget nulla hendrerit maximus non vitae nibh. Phasellus egestas varius molestie. Praesent tempor diam nibh, a consectetur turpis gravida quis. Donec pellentesque nisl nibh, ut pharetra purus rutrum non. </p>
    </div>
    <div class="col-sm-4 inline-item bg-color-3">
        <p class="title"><span class="num font-color-3-bold">03.</span>Ask for quotation</p>
        <p>Nullam egestas, ipsum a dignissim imperdiet, orci lorem feugiat nulla, eu cursus ex quam at odio. </p>
    </div>
    
</div>*@

@*<div class="row">

    <h2>Main Packages <small>Choose the best package for your child</small></h2>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-4">
                <div class="content">
                    <p>&euro; 90.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Anual</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-5">
                <div class="content">
                    <p>&euro; 123.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Mensual</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-6 col-md-4">

        <div class="row dual-item">

            <div class="col-xs-12 col-sm-6 subitem-1 bg-color-6">
                <div class="content">
                    <p>&euro; 10.00</p>
                    <span class="separator-fixed"></span>
                    <p class="text-uppercase small">Diario</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 subitem-2">
                <div class="content">
                    <p class="text-uppercase">Edad 0 - 16 anos</p>
                    <p>Proin mi sem, volutpat eu molestie sit amet, consequat at tellus. Fusce mi purus, lacinia et rhoncus vitae, ultricies placerat eros. </p>
                </div>
            </div>

        </div>

    </div>

</div>*@

<div class="row">

    <div class="item-simple-title">
        <h2 class="font-color-3">Nuestras actividades</h2>
        <p>Todos nuestros servicios están pensados para ti y tus hij@s</p>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/gym.png" alt="Date" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Baby Gym</span>
                <p>A partir de los 4 meses hasta los 2 a&ntilde;os</p>
                <a href="@Url.Action("Workshops")#gym"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/massage.png" alt="Date" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">masajes infantiles</span>
                <p>Para ni&ntilde;os de 4 meses a un a&ntilde;o y medio</p>
                <a href="@Url.Action("Workshops")#masajes"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/art.png" alt="Location" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Taller de Art &amp; Craft</span>
                <p>A partir de los dos a&ntilde;os</p>
                <a href="@Url.Action("Workshops")#art"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/nursing.png" alt="Download" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Lactancia para primerizas</span>
                <p>Comadrona disponible</p>
                <a href="@Url.Action("Workshops")#lactancia"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/zumba.png" alt="Phone" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Clases de Zumba</span>
                <p>A partir de los 6 a&ntilde;os, Zumba con padres</p>
                <a href="@Url.Action("Workshops")#zumba"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/yoga.png" alt="Location" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Yoga</span>
                <p>Prenatal, postnatal y yoga con ni&ntilde;os y padres</p>
                <a href="@Url.Action("Workshops")#yoga"><span class="glyphicon glyphicon-chevron-right"></span>Leer m&aacute;s</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/homework.png" alt="Phone" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Tareas dirigidas</span>
                <p>A partir de los 6 a&ntilde;os. Lunes a viernes 5-7pm</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/indoor.png" alt="Indoor" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Patio</span>
                <p>Patio de juegos internos para todas las edades</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/events.png" alt="Events" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Fiestas</span>
                <p>Alquiler del local para fiestas temáticas</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/language.png" alt="Languages" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Multi-lenguaje</span>
                <p>Las actividades se impartirán en tres idiom&aacute;s: Catalán, Castellano e Inglés</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/library.png" alt="Library" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Biblioteca</span>
                <p>Sala de biblioteca para todas las edades</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 item-icon-switch">
        <div class="row">
            <div class="col-xs-12 col-sm-3 icon">
                <img src="~/Content/Images/videogame.png" alt="Download" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <span class="title">Salas de juegos</span>
                <p>Sal&oacute;n de video consolas, cine, sala de futbolines, mesa de aire de hockey, mesas de pool, sala de Lego y m&aacute;s</p>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="row margin-top-25">

    <div class="item-simple-title">
        <h2 class="font-color-4">Paquetes principales </h2>
        <p>Nuestros planes de afiliación están pensados para cualquier necesidad</p>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Tarifa por horas
            </div>
            <div class="description bg-color-1">
                &euro; 7.00
                <span class="small">Por hora</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario indefinido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Plan Día
            </div>
            <div class="description bg-color-2">
                &euro; 35.00
                <span class="small">Unico pago</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario indefinido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Tarifa Pack por 15 horas
            </div>
            <div class="description bg-color-3">
                &euro; 90.00
                <span class="small">Unico pago</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario indefinido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Cupón 10 pases al mes
            </div>
            <div class="description bg-color-4">
                &euro; 200.00
                <span class="small">Unico pago</span>
                <span class="separator-fixed"></span>
                <span class="small">Sin Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario indefinido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Talleres Montessori
            </div>
            <div class="description bg-color-5">
                &euro; 450.00
                <span class="small">Pago Mensual</span>
                <span class="separator-fixed"></span>
                <span class="small">+ &euro; 150 Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Horario indefinido</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4 column-item">
        <div class="content">
            <div class="title">
                Pack Medio Día (Talleres Montessori)
            </div>
            <div class="description bg-color-6">
                &euro; 300.00
                <span class="small">Pago Mensual</span>
                <span class="separator-fixed"></span>
                <span class="small">+ &euro; 150 Inscripción</span>
            </div>
            <div class="more">
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                <p><img src="~/Content/Images/No-50.png" alt="No" class="icon" />Horario indefinido<img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="10.00-13.00 / 14.00-17:00" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;10" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Servicio canguro <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="&euro;10 por día" /></p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a herman&#64;s: 20%</p>
            </div>
        </div>
    </div>

    @*<div class="col-sm-6 col-md-4 col-lg-4 column-item">
            <div class="content">
                <div class="title">
                    Taller After Schoolers
                </div>
                <div class="description bg-color-6">
                    &euro; 350.00
                    <span class="small">Pago Mensual</span>
                    <span class="separator-fixed"></span>
                    <span class="small">+ &euro; 150 Inscripción</span>
                </div>
                <div class="more">
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Todas las edades</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />2pm a 7pm</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Baby gym</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Masajes infantiles</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Taller de Art &amp; Craft</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Lactancia para primerizas</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Clases de Zumba</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Yoga <img src="~/Content/Images/Info-48.png" alt="Info" class="icon info" data-toggle="tooltip" title="Participación de padres: &euro;6" /></p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Salas de juegos</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Alquiler para fiestas</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Multi-lenguaje</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Biblioteca</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Patio</p>
                    <p><img src="~/Content/Images/Ok-48.png" alt="Yes" class="icon" />Descuento a hermanos</p>
                </div>
            </div>
        </div>*@

</div>

<div class="row margin-bottom-25">

    <div class="item-simple-title">
        <h2 class="font-color-4">&iquest;Tienes alguna pregunta?</h2>
        <p>Cont&aacute;ctanos y con gusto aclararemos tus dudas</p>
    </div>

</div>

<div class="row margin-bottom-25">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 column-item">
        <div class="content">
            <div class="title">
                Talleres de Inglés
            </div>
            <div class="description bg-color-7">
                <span class="small">Lunes, Miércoles y Viernes</span>
            </div>
            <div class="description bg-color-7">
                <span class="small">&euro;100 mensuales **</span>
            </div>
            <div class="more">
                <p class="clearfix"><span class="name">Horario 4.30 - 5.30</span> <span class="text info">3 - 4 a&ntilde;os</span></p>
                <p class="clearfix"><span class="name">Horario 5.30 - 6.30</span> <span class="text info">5 - 8 a&ntilde;os</span></p>
                <p class="clearfix"><span class="name">Horario  6.30 - 7.30</span> <span class="text info">5 - 8 a&ntilde;os</span></p>
                <p class="clearfix"><span class="name">Descuento a herman@s</span> <span class="text info">20%</span></p>
                <p class="clearfix"><span class="name">** Incluye 1.5 horas de Ludoteca/Parque de juegos</span> <span class="text info"></span></p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 column-item">
        <div class="content">
            <div class="title">
                Actividades Adicionales
            </div>
            <div class="description bg-color-8">
                <span class="small">Contáctanos para disponibilidad</span>
            </div>
            <div class="description bg-color-8">
                <span class="small">Precios por hora</span>
            </div>
            <div class="more">
                <p class="clearfix"><span class="name">Clases de Yoga Pre y Post natal</span> <span class="text info">&euro;20</span></p>
                <p class="clearfix"><span class="name">Masajes infantiles 30 minutos</span> <span class="text info">&euro;25</span></p>
                <p class="clearfix"><span class="name">Masajes para padres 45 minutos</span> <span class="text info">&euro;50</span></p>
                <p class="clearfix"><span class="name">Alquiler para fiestas</span> <span class="text info">Contáctanos</span></p>
            </div>
        </div>
    </div>


</div>

<div class="row margin-bottom-25">

    
</div>

@*<div class="row margin-bottom-25">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 column-item">
        <div class="content">
            <div class="title">
                Actividades Adicionales
            </div>
            <div class="description bg-color-6">
                <span class="small">Precios por hora</span>
            </div>
            <div class="more">
                <p class="clearfix"><span class="name">Clases de Yoga Pre y Post natal</span> <span class="text info">&euro;20</span></p>
                <p class="clearfix"><span class="name">Masajes infantiles 30 minutos</span> <span class="text info">&euro;25</span></p>
                <p class="clearfix"><span class="name">Masajes para padres 45 minutos</span> <span class="text info">&euro;50</span></p>
                <p class="clearfix"><span class="name">Alquiler para fiestas</span> <span class="text info">Contáctanos</span></p>
            </div>
        </div>
    </div>

</div>*@

    @section scripts {

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        </script>

    }
