@section head {
    <meta name="robots" content="noindex, nofollow" />
}

@section styles {
    <link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/jHtmlArea.css" />

    <!-- Fix for jHtmlArea and Bootstrap -->
    <link href="@Url.Content("~/Content/jHtmlArea/jHtmlArea.Fix.css")" rel="stylesheet" />

}


@model Semillitas.Web.Models.ViewModels.BlogCreateViewModel

@{
    ViewBag.Title = "Crear nuevo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Blog</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "htmlEditor", cols = 200, rows = 10 })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <mark class="">Dimension recomendada: Ancho > 700px</mark>
            <input type="file" name="@Html.NameFor(model => model.ImageFile)" id="@Html.IdFor(model => model.ImageFile)" />
            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImagePreviewFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <mark class="">Dimension recomendada: 1200x700px o cuadrada</mark>
            <input type="file" name="@Html.NameFor(model => model.ImagePreviewFile)" id="@Html.IdFor(model => model.ImagePreviewFile)" />
            @Html.ValidationMessageFor(model => model.ImagePreviewFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Layout, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Layout, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.Layout, Model.LayoutList, "Seleccionar", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Layout, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "List")
</div>

@section scripts {

    <script type="text/javascript" src="~/Scripts/jHtmlArea-0.8.min.js"></script>

    <script>

        $(function () {
            $(".htmlEditor").htmlarea();
        });

    </script>

}
