@model Semillitas.Web.Models.Blog

@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaTitle = Model.Title + " - Semillitas, la Ludoteca donde aprendes jugando";
    ViewBag.MetaDescription = Model.Description;
}

@section head {

    <meta property="fb:app_id" content="1704749536215417" />
    <meta property="og:url" content="@this.Url.Action("Details", "Blog", new { id = Model.ID }, this.Request.Url.Scheme)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <meta property="og:image" content="@Semillitas.Web.Classes.Utility.ResolveServerUrl(Url.Content(Model.Image), false)" />
        if (!String.IsNullOrEmpty(ViewBag.ImageWidth))
        {
            <meta property="og:image:width" content="@ViewBag.ImageWidth" />
        }
        if (!String.IsNullOrEmpty(ViewBag.ImageHeight))
        {
            <meta property="og:image:height" content="@ViewBag.ImageHeight" />
        }
    }

}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_blog.jpg")')">
    <div class="container">
        <h2>Noticias y Novedades</h2>
        <h3 class="separator-left">Está al tanto de lo que tenemos para ofrecerte</h3>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="row">

        <p class="bg-warning message-lg message-center">@ViewBag.Message</p>

    </div>
}

    <div class="row">

        <div class="item-simple-title">
            <h2 class="font-color-3">@Html.DisplayFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <hr />

        @if (Model.Layout.Equals(Semillitas.Web.Models.ImageLayout.IMAGE_TOP))
    {
        <div class="col-sm-12">
            @if (!String.IsNullOrEmpty(Model.Image))
        {
            <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive center-block" />
    }
        </div>

        <div class="col-xs-12">

            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))

        </div>
}
else if (Model.Layout.Equals(Semillitas.Web.Models.ImageLayout.IMAGE_LEFT))
{
    <div class="col-sm-6">
        @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive" />
}
    </div>

    <div class="col-sm-6">

        <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

    </div>

}
else if (Model.Layout.Equals(Semillitas.Web.Models.ImageLayout.IMAGE_RIGHT))
{
    <div class="col-sm-6">

        <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

    </div>

    <div class="col-sm-6">
        @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive" />
}
    </div>

}
else if (Model.Layout.Equals(Semillitas.Web.Models.ImageLayout.IMAGE_BOTTOM))
{
    <div class="col-xs-12">

        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))

    </div>

    <div class="col-sm-12">
        @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive center-block" />
}
    </div>

}
else if (Model.Layout.Equals(Semillitas.Web.Models.ImageLayout.IMAGE_ONLY))
{
    <div class="col-sm-12">
        @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive center-block" />
}
    </div>

}
else
{
    <div class="col-xs-12">

        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))

    </div>

}

        @*@if (Model.Layout == "IMAGE_LEFT")
        {
            <div class="col-xs-12 col-sm-6 margin-bottom-15">
                <img src="@Url.Content(Model.Image)" alt="@Model.Title" class="img-responsive" />
            </div>

            <div class="col-xs-12 col-sm-6 margin-bottom-50">

                <p><span class="capital bg-color-1">M</span>aecenas suscipit velit a vestibulum aliquet. Aliquam sagittis nisl ac risus tincidunt lacinia. Ut lacus eros, dapibus luctus consequat eget, vulputate non tellus. Ut ac malesuada eros. Donec aliquet quam justo, eu consequat nunc sollicitudin in. Donec non turpis dui. Sed sollicitudin tellus augue, cursus dictum mauris rhoncus in. Suspendisse auctor odio enim, non sollicitudin ex tempus a. Sed lobortis fringilla euismod. Etiam id lacus in augue maximus ornare in et nulla. Nunc consequat consequat nisi sit amet posuere. Quisque at fringilla ligula.</p>

                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

            </div>
        }
        else if (Model.Layout == "IMAGE_RIGHT")
        {
            <div class="col-xs-12 col-sm-6 margin-bottom-50">

                <p><span class="capital bg-color-1">M</span>aecenas suscipit velit a vestibulum aliquet. Aliquam sagittis nisl ac risus tincidunt lacinia. Ut lacus eros, dapibus luctus consequat eget, vulputate non tellus. Ut ac malesuada eros. Donec aliquet quam justo, eu consequat nunc sollicitudin in. Donec non turpis dui. Sed sollicitudin tellus augue, cursus dictum mauris rhoncus in. Suspendisse auctor odio enim, non sollicitudin ex tempus a. Sed lobortis fringilla euismod. Etiam id lacus in augue maximus ornare in et nulla. Nunc consequat consequat nisi sit amet posuere. Quisque at fringilla ligula.</p>

                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

            </div>

            <div class="col-xs-12 col-sm-6 margin-bottom-15">
                <img src="@Url.Content(Model.Image)" alt="Workshop" class="img-responsive" />
            </div>


        }
        else if (Model.Layout == "IMAGE_TOP")
        {
            <div class="col-xs-12margin-bottom-15">
                <img src="@Url.Content(Model.Image)" alt="Workshop" class="img-responsive" />
            </div>

            <div class="col-xs-12">

                <p><span class="capital bg-color-1">M</span>aecenas suscipit velit a vestibulum aliquet. Aliquam sagittis nisl ac risus tincidunt lacinia. Ut lacus eros, dapibus luctus consequat eget, vulputate non tellus. Ut ac malesuada eros. Donec aliquet quam justo, eu consequat nunc sollicitudin in. Donec non turpis dui. Sed sollicitudin tellus augue, cursus dictum mauris rhoncus in. Suspendisse auctor odio enim, non sollicitudin ex tempus a. Sed lobortis fringilla euismod. Etiam id lacus in augue maximus ornare in et nulla. Nunc consequat consequat nisi sit amet posuere. Quisque at fringilla ligula.</p>

                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

            </div>
        }
        else // IMAGE BOTTOM AND DEFAULT
        {
            <div class="col-xs-12">

                <p><span class="capital bg-color-1">M</span>aecenas suscipit velit a vestibulum aliquet. Aliquam sagittis nisl ac risus tincidunt lacinia. Ut lacus eros, dapibus luctus consequat eget, vulputate non tellus. Ut ac malesuada eros. Donec aliquet quam justo, eu consequat nunc sollicitudin in. Donec non turpis dui. Sed sollicitudin tellus augue, cursus dictum mauris rhoncus in. Suspendisse auctor odio enim, non sollicitudin ex tempus a. Sed lobortis fringilla euismod. Etiam id lacus in augue maximus ornare in et nulla. Nunc consequat consequat nisi sit amet posuere. Quisque at fringilla ligula.</p>

                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) </p>

            </div>

            <div class="col-xs-12">
                <img src="@Url.Content(Model.Image)" alt="Workshop" class="img-responsive" />
            </div>
        }*@




    </div>

@*<div class="fb-share-button" data-href="@Url.Action("Edit", "Blog", new { id = Model.ID }, this.Request.Url.Scheme)" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>*@
<div class="fb-share-button" data-href="@this.Url.Action("Details", "Blog", new { id = Model.ID }, this.Request.Url.Scheme)" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
