@model IEnumerable<Semillitas.Web.Models.Blog>

@{
    ViewBag.Title = "List";
}

<div class="jumbotron">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3 class="separator-left">@ViewBag.Message</h3>
    </div>
</div>

<div class="row">
    
    <div class="item-simple-title">
        <p>Inserte un texto aqui para describir esta seccion</p>
        <h2 class="font-color-3 separator-middle">Noticias y Novedades</h2>
    </div>

@{ int i = 0; }

    @foreach (var item in Model)
    {
        
        <div class="col-xs-12 col-sm-6">
            <div class="item-content-image">
                <div class="image">
                    <img class="img-responsive" src="@Url.Content("~/" + item.Image)" alt="...">
                </div>
                <div class="content">
                    <h4 class="separator-left">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <a href="@Url.Action("Details", "Blog", new { id = item.ID })" class="bg-color-@(i+1)"><span class="glyphicon glyphicon-chevron-right"></span>Leer mas</a>
            </div>
        </div>
        i = ((i + 1) % 6);
    }

</div>


