@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*@Html.ActionLink("Bienvenid@ " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a href="@Url.Action("Index", "Manage")" title="Manage">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    @User.Identity.GetUserName()
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
            @*<a href="@Url.Action("Register", "Account")" id = "registerLink">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Registrarse
                </a>*@
        </li>
        <li>
            @*@Html.ActionLink("Iniciar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            <a href="@Url.Action("Login", "Account")" id="loginLink">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                Iniciar sesión
            </a>
        </li>
    </ul>
}
